<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./navbar.ejs') %>

    <section>
      <h2>add new teacher</h2>
      <form action="/addteacher" method="post">
        <div>
          <label for="">teacher name</label>
          <input type="text" name="name" id="" />
        </div>
        <div>
          <label for="">teacher email</label>
          <input type="email" name="email" id="" />
        </div>
        <div>
          <label for="">phone number</label>
          <input type="number" name="phone" id="" />
        </div>
        <div>
          <label for="">salary</label>
          <input type="number" name="salary" id="" min="0" />
        </div>
        <button type="submit">add</button>
      </form>
    </section>
  </body>
</html>
