<link rel="stylesheet" href="/style.css">

<nav>
    <h2>logo</h2>
    <div>
        <a href="/"><p>home</p></a>
        <a href="/addteacher"> <p>add teacher</p></a>
        <a href="/addstudent"> <p>add student</p></a>

    </div>
</nav>